node_modules/
.next/
.vercel/
dist/
.DS_Store
*.log
*.sqlite
*.db
venv/
.venv/
__pycache__/
apps/web/prisma/dev.db
apps/web/.env.local
apps/web/.env
apps/worker/.env
*.env
apps/web/playwright-report/
apps/web/test-results/
apps/web/next/
apps/web/build/
apps/web/postinstall
target/
